.home{
    width: 250px;
    height: 300px;
    position: relative;
    display: inline-block;
    
}
.Head {
    width: 250px;
    height: 5px;
    border: 3px solid black;
    background-color: rgb(110, 150, 110);
    position: relative;
    top: 0;
}
.footer{
    width: 250px;
    height: 5px;
    border: 3px solid black;
    background-color: rgb(110, 150, 110);
    position: relative;
} 
.body {
    background-color: rgb(210, 205, 199);
    width: 230px;
    height: 290px;
    margin: auto;
    border-left: 3px solid black;
    border-right: 3px solid black;
}
.windows {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3,60px);
    grid-template-rows: repeat(4,40);
    padding-left: 25px;
    padding-top: 10px;
}
.window {
    border: 3px solid black;
    background-color: rgb(89, 172, 227);
    width: 30px;
    height: 30px;
}
.door-head {
    width: 150px;
    height: 5px;
    background-color:rgb(110, 150, 110) ;
    border: 3px solid black;
    position: relative;
    left: 35px;
    top: 25px;

}
.left-door {
    height: 75px;
    width: 30px;
    border: 3px solid black;
    background-color:  rgb(89, 172, 227);
    position: relative;
    left: 80px;
    bottom: 55px;
}
.right-door {
    height: 75px;
    width: 30px;
    border: 3px solid black;
    background-color:  rgb(89, 172, 227);
    position: relative;
    left: 110px;
    top: 24px;
}
.left-side1 {
    height: 75px;
    width: 5px;
    background-color: rgb(110, 150, 110) ;
    position: relative;
    left: 73px;
    bottom: 135px;
    border: 3px solid black;
}
.right-side1 {
    height: 75px;
    width: 5px;
    background-color: rgb(110, 150, 110) ;
    position: relative;
    left: 143px;
    bottom: 215px;
    border: 3px solid black;
}
.left-side2 {
    height: 75px;
    width: 6px;
    background-color: rgb(13, 51, 13) ;
    position: relative;
    left: 45px;
    bottom: 295px;
    border: 3px solid black;
}

.right-side2 {
    height: 75px;
    width: 6px;
    background-color: rgb(13, 51, 13) ;
    position: relative;
    left: 170px;
    bottom: 375px;
    border: 3px solid black;
}
.street {
    width: 100%;
    height: 100px;
    background-color: rgb(73, 73, 73);
    margin-top: 60px;
    position: relative;

}
.marks {
    
    display: flex;
    gap: 100px;
} 
.mark {
    width: 50px;
    height: 10px;
    background-color: white;
    margin-top: 50px;
}
